<header class="sticky top-0 z-50 w-full border-b border-slate-200">
    <nav class="flex justify-between items-center bg-slate-100 py-2 px-15">
        <div class="w-auto h-[45px]">
            <a href="/">
                <img src="/opref_logo.png" alt="OPREF S.A.S" class="w-full h-full" />
            </a>
        </div>
        <ul class="flex items-center gap-3 text-blue-900">
            <li>
                <a href="/" class="hover:text-blue-950">Inicio</a>
            </li>
            <li>
                <a href="/proyectos" class="hover:text-blue-950">Proyectos</a>
            </li>
            <li>
                <a href="/sobre-nosotros" class="hover:text-blue-950">Sobre nosotros</a>
            </li>
            <li>
                <a href="/contactenos" class="bg-blue-900 hover:bg-blue-950 text-white text-sm rounded-full px-2 py-1 flex items-center gap-1">
                    <span>
                        Contactenos
                    </span>
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
