<section class="content-secondary pb-20 md:px-15">
    <div class="text-center">
        
        <p class="text-gray-700 text-lg mb-4">
            Nuestra sede principal está en Montería, Córdoba, desde donde
            operamos y gestionamos proyectos a lo largo de toda Colombia.
        </p>
        <div class="w-full h-[300px] rounded-lg overflow-hidden shadow-lg">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2788.424869136759!2d-75.8682692543206!3d8.745712615751499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5a2f139978b9dd%3A0x47069853d0593e1c!2sOPREF%20S.A.S!5e0!3m2!1ses!2sco!4v1750042639785!5m2!1ses!2sco"
                width="100%"
                height="100%"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>

            
        </div>
    </div>
</section>
