<section class="content-primary pb-20 md:px-15 px-4">
    <div class="grid md:grid-cols-2 gap-10 text-center md:text-left">
        <!-- Misión -->
        <div>
            <h2 class="text-3xl font-bold text-white mb-4">Nuestra Misión</h2>
            <p class="text-slate-300 text-lg mb-4">
                Brindar soluciones habitacionales innovadoras, económicas y
                sostenibles, a través de construcciones prefabricadas de
                calidad, priorizando la satisfacción del cliente y el desarrollo
                social.
            </p>
            <p class="text-slate-300 text-lg">
                En OPREF S.A.S. trabajamos con responsabilidad social y
                compromiso ambiental, promoviendo el acceso a viviendas dignas
                para todas las familias, sin importar su nivel socioeconómico.
                Nuestra misión es transformar sueños en hogares, construyendo
                con eficiencia, confianza y pasión.
            </p>
        </div>

        <!-- Visión -->
        <div>
            <h2 class="text-3xl font-bold text-white mb-4">Nuestra Visión</h2>
            <p class="text-slate-300 text-lg mb-4">
                Ser reconocidos a nivel nacional como la empresa líder en
                viviendas prefabricadas, expandiéndonos a nuevas regiones, y
                transformando vidas con hogares dignos, seguros y modernos.
            </p>
            <p class="text-slate-300 text-lg">
                Aspiramos a ser un referente de calidad, confianza e innovación
                en la industria de la construcción, creando alianzas
                estratégicas, implementando tecnologías sostenibles y
                fortaleciendo el impacto positivo en las comunidades donde
                operamos.
            </p>
        </div>
    </div>
</section>
