<section class="bg-slate-100 pb-20 md:px-15 px-4">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-bold text-blue-900 mb-10 text-center">
            Nuestro Equipo
        </h2>
        <div class="grid md:grid-cols-2 gap-8">
            <!-- Administrador / Jefe -->
            <div class="bg-slate-50 rounded-lg shadow-lg p-6">
                <div class="flex gap-4 items-center">
                    <img
                        src="/index-1.jpeg"
                        alt="Administrador"
                        class="w-28 h-28 rounded-full mb-4 object-cover"
                    />
                    <div>
                        <h3 class="text-xl font-semibold text-blue-900">
                            Manuel Leudo
                        </h3>
                        <p class="text-gray-600">Administrador General</p>
                        <p class="text-gray-500 text-sm mt-2">
                            Supervisa todos los proyectos y toma decisiones
                            estratégicas para el crecimiento de la empresa.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Secretaria / Vendedora -->
            <div class="bg-slate-50 rounded-lg shadow-lg p-6">
                <div class="flex gap-4 items-center">
                    <img
                        src="/index-1.jpeg"
                        alt="Administrador"
                        class="w-28 h-28 rounded-full mb-4 object-cover"
                    />
                    <div>
                        <h3 class="text-xl font-semibold text-blue-900">
                            Nubia García
                        </h3>
                        <p class="text-gray-600">Secretaria y Asesora Comercial</p>
                        <p class="text-gray-500 text-sm mt-2">
                            Atiende a los clientes, coordina citas y apoya la gestión
                            administrativa y comercial de la empresa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
