<section class="bg-slate-100 px-15 pb-[100px] flex flex-wrap md:grid md:grid-cols-2 gap-15">
    <div class="h-[500px] bg-blue-900 pt-[50px] pl-[50px] rounded-t-2xl rounded-bl-2xl">
        <img src="/index-1.jpeg" class="w-full h-full object-cover" alt="">
    </div>
    <div>
        <h2 class="font-bold text-blue-900 text-2xl mb-5">Nuestros Servicios</h2>
        <div>
            <div class="flex gap-2 mb-3">
                <div class="">
                    <i class="bi bi-bricks text-3xl text-blue-900"></i>
                </div>
                <div>
                    <h3 class="font-medium text-blue-900 text-xl">Obra gris</h3>
                    <p class="text-gray-700">
                        En OPREF S.A.S. brindamos soluciones en construcción de obra gris, ideales para 
                        quienes buscan una base estructural sólida, segura y lista para personalizar. 
                        Nuestro enfoque combina calidad en los materiales, cumplimiento y experiencia, 
                        garantizando una entrega que cumple con todos los estándares técnicos y estéticos 
                        desde el primer momento.
                    </p>
                </div>
            </div>
            <div class="flex gap-2 mb-3">
                <div class="">
                    <i class="bi bi-house-fill text-3xl text-blue-900"></i>
                </div>
                <div>
                    <h3 class="font-medium text-blue-900 text-xl">Obra Blanca</h3>
                    <p class="text-gray-700">
                        En OPREF S.A.S. llevamos tus espacios al siguiente nivel con trabajos de obra 
                        blanca que aportan acabado, detalle y personalidad a cada rincón. Nos enfocamos 
                        en transformar estructuras en verdaderos hogares, cuidando cada terminación con 
                        precisión, estética y materiales de alta calidad.
                    </p>
                </div>
            </div>
            <div class="flex gap-2">
                <div class="">
                    <i class="bi bi-leaf-fill text-3xl text-blue-900"></i>
                </div>
                <div>
                    <h3 class="font-medium text-blue-900 text-xl">Jardinería</h3>
                    <p class="text-gray-700">
                        Transformamos tus espacios exteriores con servicios de jardinería que combinan 
                        diseño, funcionalidad y naturaleza. En OPREF S.A.S. creamos entornos verdes 
                        agradables, modernos y sostenibles, ideales para complementar la armonía y belleza 
                        de tu hogar o proyecto.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>